<!DOCTYPE html>
{% extends 'store_page/main.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">
        <title>Home</title>
    </head>  
    <body>  
        {% block content %}
        <div class="row">
            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'images/eggplant.jpg' %}">
	<div class="box-element product">
		<h6><strong>Eggplant</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Ksh20</strong></h4>

	</div>
            </div>
        
            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'images/cabbage.jpg' %}">
	<div class="box-element product">
		<h6><strong>Cabbage</strong></h6>
		<hr>

		<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		<a class="btn btn-outline-success" href="#">View</a>
		<h4 style="display: inline-block; float: right"><strong>Ksh60</strong></h4>

	</div>
            </div>
        
            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'images/capsicum.jpg' %}">
                <div class="box-element product">
                    <h6><strong>Capsicum</strong></h6>
                    <hr>
            
                    <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>Ksh10</strong></h4>
            
                </div>
            </div>
        </div>
    {% endblock content %} 
        <img src="{% static 'images/cart.png'%}">
    </body>  
</html>     